<h3>Change Password</h3>
<form id="change-password-form" class="change-password-form">{% csrf_token %}
    <ul>
        <li>
            <div>
                <div class="label">Old Password <span class="required">*</span></div>
                <div>
                    <input type="password" name="old_password"/>
                </div>
                <div id="error-old_password" class="formup-error"></div>
            </div>
        </li>
        <li>
            <div>
                <div class="label">New Password <span class="required">*</span></div>
                <div>
                    <input type="password" name="new_password1"/>
                </div>
                <div id="error-new_password1" class="formup-error"></div>
            </div>
        </li>
        <li>
            <div>
                <div class="label">Re-type Password <span class="required">*</span></div>
                <div>
                    <input type="password" name="new_password2"/>
                </div>
                <div id="error-new_password2" class="formup-error"></div>
            </div>
        </li>
    </ul>
</form>
<button id="change-password-button" class="change-password-button">Change Password</button>
