<h3>Change Profile Photo</h3>
<div>
    {% if user_profile.photo %}
        <img src="{{ user_profile.photo }}" alt="Profile Photo" height="150px"/>
    {% endif %}
</div>
<div>
    {{ error }}
    <form id="update-profile-photo-form" action="/user/upload-profile-photo/" method="POST"
          enctype="multipart/form-data">{% csrf_token %}
        <input type="file" name="photo"/>
        <button id="submit-profile-photo-form" class="update-profile-photo-button" type="submit">Change Profile Photo</button>
    </form>
</div>
