<!DOCTYPE html>
<head>
    <title>
        {% block title %}
            books.com
        {% endblock %}
    </title>

    {% block css %}
        <link rel="stylesheet" href="/static/css/style.css"/>
        <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon.png' />
    {% endblock %}

    {% block js %}
        <script type="text/javascript" src="/static/js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="/static/js/script.js"></script>

    {% endblock %}

    {% block meta %}{% endblock %}
</head>

<body>
{% block header %}
    {% include "partial/header.html" %}
{% endblock %}
<div class="content">
    {% block content %}{% endblock %}
</div>
{% block footer %}
    {% include "partial/footer.html" %}
{% endblock %}
</body>

</html>