body {
    padding: 0;
    margin: 0;
    display: block;

}

.clear {
    clear: both;
}

.page {
    margin: 0 auto;
    padding: 0;
    background-color: #FAF0E6;
}
.nav-bar {
    width: 100%;
    height: 55px;
    background-color: #f7f7f9;
    border-top: 5px solid #CCFFFF;
    border-bottom: 1px solid #e1e1e8;
    margin-bottom: 20px;
}

.nav-content {
    width: 75%;
    margin: 0 auto;
}
.logo {
    width: 25%;
    float: left;
}

.nav-mid {
    width: 30%;
    float: left;
}

.nav-right {
    float: right;
    width: 30%;
    text-align: right;
}


.content {
    width: 74%;
    padding: 10px;
    margin: 0 auto;
    background-color: #ffffff;
}

.home-message {
    width: 60%;
    float: left;
    margin: 20px 0;
}

.home-message h3 {
    text-align: center;
    font-size: 30px;
    padding: 0;
    margin: 10px 0;
}

.sidebar {
    margin-top: 20px;
    float: right;
    width: 32%;
    text-align: center;
    padding: 0 0 35px 0;
}

.sidebar h3 {
    text-align: center;
    font-size: 30px;
    padding: 0;
    margin: 10px 0;
}

.profile-menu {
    padding: 0 0 0 5px;
    font-size: 18px;
}

.profile-menu button {
    min-width: 160px;
}

.profile-menu ul li {
    text-align: left;
}

.form-error {
    color: #ff0000;
    font-size: 12px;
    text-align: left;
}

.switch-form {
    text-align: center;
    margin: 10px 0;
}

.required {
    color: #ff0000;
}

.why-books ul {
    list-style-type: none;
    font-size: 20px;
}

.why-books ul li {
    margin: 20px 0 0 80px;
}

.footer {
    background-color: #DCDCDC;
    text-align: center;
    font-size: 12px;
    margin: 5px 0;
}

.footer p {
    padding: 10px 0 10px 0;
    margin: 0;
}

.left-sidebar, .form-body {
    float: left;
}

.left-sidebar {
    width: 30%;
    margin: 0 10px 0;
    padding: 0;
}

.form-body {
    width: 68%;
}

.left-sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.left-sidebar ul li {
    width: 70%;
    padding: 10px 0 10px 10px;
    border-bottom: 2px solid #DCDCDC;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
}

.left-sidebar ul li:last-of-type {
    border: none;
}

.profile-update-form {
    width: 50%;
    margin: 0 auto;
    float: left;
}

.basic-info-form ul,
.change-password-form ul,
.post-ad-form ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.basic-info-form ul li,
.change-password-form ul li,
.post-ad-form ul li {
    margin-bottom: 10px;
}

.basic-info-form ul li input,
.change-password-form ul li input,
.post-ad-form ul li input {
    font-size: 14px;
    padding: 10px;
    width: 250px;
}

.basic-info-form ul li textarea,
.post-ad-form ul li textarea {
    height: 100px;
    width: 250px;
    padding: 10px;
    font-size: 14px;
}

.post-ad-form ul li input.price {
    width: 100px;
    padding: 6px;
}

.basic-info-form ul li input.gender {
    width: 20px;
}

.basic-info-form ul li .label,
.change-password-form ul li .label {
    font-size: 18px;
}

.info-submit-button,
.change-password-button {
    padding: 10px 40px 10px 40px;
    font-size: 20px;
    background-color: #0000FF;
    color: #ffffff;
    margin: 10px 0 0 60px;
}

.change-password-button {
    padding: 10px;
    background-color: #ff0000;
    margin: 10px 0 0 42px;
}

.update-profile-photo-button {
    padding: 5px;
    background-color: #CCFFFF;
    font-size: 14px;
}

.post-ad-button {
    padding: 10px 30px 10px 30px;
    margin: 10px 0 0 200px;
    background-color: #CCFFFF;
    font-size: 18px;
}

.user-ads-view {
    margin: 0 auto;
    width: 80%;
}

.user-ads-view h3 {
    text-align: center;
}

.user-ads-view ul{
    padding: 0;
    margin: 0;
}

.user-ads-view ul li {
    padding: 5px;
    margin: 0;
    text-align: center;
    display: inline-block;
    border-right: 2px solid #808080;
    width: 120px;
}

.user-ads-view ul li:first-of-type {
    width: 150px;
}

.user-ads-view ul li:nth-of-type(2) {
    width: 230px;
    text-align: left;
}
.user-ads-view ul:first-of-type li:nth-of-type(2) {
    text-align: center;
}
.user-ads-view ul li:last-of-type {
    width: 90px;
    border: none;
}
.user-ads-view ul:nth-of-type(even) {
    background-color: #C0C0C0;
}

.user-ads-view ul:nth-of-type(odd) {
    background-color: #F5F5F5;
}


.user-ads-view ul:first-of-type {
    background-color: #6495ED;
}

.search-result-view {
    display: none;
}

.search-result {
    width: 80%;
    margin: 0 auto;
}

.search-result ul{
    list-style-type: none;
}

.search-result ul li {
    display: inline-block;
    width: 100%;
}

.search-result ul li:nth-of-type(odd) {
    background-color: #C0C0C0;
}

.search-result ul li:nth-of-type(even) {
    background-color: #F5F5F5;
}

.product-thumbnail, .product-title, .product-price {
    float: left;
}

.product-thumbnail {
    width: 25%;
}

.product-thumbnail img {
    width: 150px;
    border: 2px solid #DCDCDC;
}

.product-title {
    width: 65%;
    margin: 20px 0;
}

.product-title a {
    text-decoration: none;
    color: #000000;
}

.product-title a:hover {
    text-decoration: underline;
}

.product-title .title {
    font-size: 20px;
    font-weight: bold;
}

.product-title .post-info {
    margin: 10px 0;
}
.product-price {
    width: 10%;
    margin: 20px 0;
}

.product-view-left, .product-view-right {
    float: left;
}

.product-view-left {
    width: 70%;
}

.product-view-right {
    width: 30%;
}

.product-view-left .product-photo {
    margin: 10px 0;
    border: 2px solid #000000;
    text-align: center;
}
.product-description {
    border-radius: 5px;
    width: 97%;
    min-height: 50px;
    padding: 10px;
}
.product-view-left .product-photo img {
    width: 400px;
}

.login-view-left-side, .login-view-right-side {
    float: left;
    margin: 0 auto;
}

.login-view-left-side {
    width: 50%;
}

.login-view-right-side {
    width: 30%;
}

.login-view-right-side h3 {
    text-align: center;
}

.signup-form-view {
    display: none;
}

.recent-posts-view .paginator,
.search-result-view .paginator{
    float: right;
    margin: 0 97px 0;
}

.alert-danger {
    display: none;
}
.navbar-form {
    width: 100%;
}

.navbar-form div {
    float: left;
    margin-right: 10px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.navbar-nav.navbar-right li {
    margin-right: 10px;
}

