body {
    padding: 0;
    margin: 0;
    display: block;

}

ul {
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}

.page {
    margin: 0 auto;
    padding: 0;
    background-color: #FAF0E6;
}

.nav-bar {
    width: 100%;
    height: 55px;
    background-color: #f7f7f9;
    border-top: 5px solid #CCFFFF;
    border-bottom: 1px solid #e1e1e8;
    margin-bottom: 20px;
}

.nav-content {
    width: 75%;
    margin: 0 auto;
}

.logo {
    width: 25%;
    float: left;
}

.nav-mid {
    width: 30%;
    float: left;
}

.nav-right {
    float: right;
    width: 30%;
    text-align: right;
}

.content {
    width: 74%;
    padding: 10px;
    margin: 0 auto;
    background-color: #ffffff;
}

.home-message {
    width: 60%;
    float: left;
    margin: 20px 0;
}

.home-message h3 {
    text-align: center;
    font-size: 30px;
    padding: 0;
    margin: 10px 0;
}

.sidebar {
    margin-top: 20px;
    float: right;
    width: 32%;
    text-align: center;
    padding: 0 0 35px 0;
}

.sidebar h3 {
    text-align: center;
    font-size: 30px;
    padding: 0;
    margin: 10px 0;
}

.profile-menu {
    padding: 0 0 0 5px;
    font-size: 18px;
}

.profile-menu ul li {
    text-align: left;
}

.form-error {
    color: #ff0000;
    font-size: 12px;
    text-align: left;
}

.switch-form {
    text-align: center;
    margin: 10px 0;
}

.required {
    color: #ff0000;
}

.why-books ul {
    list-style-type: none;
    font-size: 20px;
}

.why-books ul li {
    margin: 20px 0 0 80px;
}

.footer {
    background-color: #DCDCDC;
    text-align: center;
    font-size: 12px;
    margin: 5px 0;
}

.footer p {
    padding: 10px 0 10px 0;
    margin: 0;
}

.left-sidebar, .form-body {
    float: left;
}

.left-sidebar {
    width: 30%;
    margin: 0 10px 0;
    padding: 0;
}

.form-body {
    width: 30%;
    margin: 0 auto;
}

.user-ads-view {
    margin: 0 auto;
    width: 70%;
}

.user-ads-view h3 {
    text-align: center;
}

.search-result-view {
    display: none;
}

.search-result {
    width: 80%;
    margin: 0 auto;
}

.search-result ul {
    list-style-type: none;
}

.search-result ul li {
    display: inline-block;
    width: 100%;
}

.search-result ul li:nth-of-type(odd) {
    background-color: #C0C0C0;
}

.search-result ul li:nth-of-type(even) {
    background-color: #F5F5F5;
}

.product-thumbnail, .product-title, .product-price {
    float: left;
}

.product-thumbnail {
    width: 25%;
}

.product-thumbnail img {
    width: 150px;
    border: 2px solid #DCDCDC;
}

.product-title {
    width: 65%;
    padding-top: 15px;
}

.product-title a {
    text-decoration: none;
    color: #000000;
}

.product-title a:hover {
    text-decoration: underline;
}

.product-title .title {
    font-size: 20px;
    font-weight: bold;
}

.product-title .post-info {
    margin: 10px 0;
}

.post-info p {
    margin: 0;
}

.product-price {
    width: 10%;
    margin: 20px 0;
}

.product-view-left, .product-view-right {
    float: left;
    margin-top: 20px;
}

.product-view-left {
    width: 65%;
    padding: 0 40px 0;
}

.product-view-right {
    width: 30%;
}

.product-description {
    border-radius: 5px;
    width: 97%;
    min-height: 50px;
    padding: 10px;
}

.product-view-left .thumbnail {
    margin: 0 auto;
    background-color: #bce8f1;
}

.login-view-left-side, .login-view-right-side {
    float: left;
    margin: 0 auto;
}

.login-view-left-side {
    width: 50%;
}

.login-view-right-side {
    width: 30%;
}

.login-view-right-side h3 {
    text-align: center;
}

.signup-form-view {
    display: none;
}

.recent-posts-view .paginator,
.search-result-view .paginator {
    float: right;
    margin: 0 97px 0;
}

.alert-danger {
    display: none;
}

.basic-info-first-time-form {
    width: 30%;
    margin: 0 auto;
}

input[type="radio"] {
    margin: 0 10px 0;
}

.post-ad-form {
    width: 35%;
    margin: 0 auto;
}

.post-ad-form h3 {
    text-align: center;
}

.post-ad-form .input-group {
    width: 45%;
}

.post-ad-form .input-group input {
    text-align: right;
}

.search-box nav {
    width: 77%;
    margin: 0 auto;
}

.img-circle {
    height: 40px;
    margin-top: 5px;
}

.table-striped, th {
    text-align: center;
}

.table-striped tr td:first-of-type {
    text-align: left;
}

.table-striped tr th:first-of-type, .table-striped tr td:first-of-type {
    width: 50%;
}

.table-striped tr th:last-of-type, .table-striped tr td:last-of-type {
    width: 15%;
}