{% extends "base/base.html" %}

{% block content %}
    <div class="content">
        <div class="home-message">
            <h3>Why Books.Com</h3>
            <div class="why-books"">
                <ul>
                    <li>All Books at <strong>One</strong> place</li>
                    <li>Buy New & Used Books</li>
                    <li>Sell New & Used Books</li>
                </ul>
            </div>
        </div>

        <div class="sidebar">
            {% include "user/signup-form.html" %}
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}