{% if products %}
    <h4 class="btn btn-primary">
        All Posts <span class="badge">{{ total_products }}</span>
    </h4>
    <ul>
        {% for product in products %}
            <li>
                <div>
                    <div class="product-thumbnail">
                        <div>
                            {% if product.thumbnail %}
                                <img src="{{ product.thumbnail }}" alt="product photo"/>
                            {% endif %}
                        </div>
                    </div>
                    <div class="product-title">
                        <a href="/product/{{ product.id }}" target="_blank">
                            <div class="title">
                                {{ product.title|truncatewords:6 }}
                            </div>
                        </a>

                        <div class="post-info">
                            <p>Posted on {{ product.created_at|date:"d M Y" }}
                                from {{ product.user.userprofile.upozila }}, {{ product.user.userprofile.district }}</p>

                            <p>Category:{{ product.category }} | Condition: {{ product.condition }}</p>

                        </div>
                    </div>
                    <div class="product-price">
                        <span>Tk {{ product.price }}</span>

                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    No result found
{% endif %}