<div class="nav-content">
    <div class="logo">
        <a class="btn btn-link btn-lg" role="button" href="/">Home</a>
    </div>


    <div class="nav-mid">
        <a class="btn btn-link btn-lg" role="button" href="/search/all">Search Books</a>
        <a class="btn btn-link btn-lg" role="button" href="/product/add">Post Ad</a>
    </div>

    <div class="nav-right">
        {% if login_mode %}
            {% include "partial/login-head.html" %}
        {% else %}
            <a class="btn btn-link btn-lg" role="button" href="/login-view">Log In</a>
        {% endif %}
    </div>
</div>
