<div class="header">
    <div class="logo">
        <a href="/">
            <img src="/static/img/logo.jpeg" alt="logo"/>
            <span class="logo-text">books.com</span>
        </a>
    </div>


    <div class="search-link">
        <a id="search-product-button" href="/search">Search Books</a>
        <a id="add-product-button" class="post-ad-button" href="/product/add">Post Ad</a>
    </div>

    <div id="header-right" class="header-right">
        {% if login_mode %}
            {% include "partial/login-head.html" %}
        {% else %}
            {% include "user/login-form.html" %}
        {% endif %}

    </div>
</div>
<div class="clear"></div>