<div class="profile-menu">
    <div class="btn-group">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
            {{ user.userprofile.fullname }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="/user/edit-profile">Edit Profile</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</div>
