<div class="profile">
    <div id="user-name">
        <span>{{ user.userprofile.fullname }}</span>
        {% if user.userprofile.profile_photo %}
            <img src="/{{ user.userprofile.profile_photo }}" alt="Profile Photo"/>
        {% else %}
            <img src="{{ STATIC_URL }}/static/img/profile_photos/default.png" alt="Profile Photo"/>
        {% endif %}
    </div>
    <div class="user-settings">
        <ul>
            {% if user_admin %}
                <li>
                    <a href="/admin/" target="_blank">Admin Panel</a>
                </li>
            {% endif %}
            <li>
                <a href="/user/edit-profile">Edit Profile</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</div>