{% extends "base/base.html" %}

{% block content %}
    <div class="left-sidebar">
        <h4>Edit Your Profile</h4>
        <ul id="profile-menu">
            <li id="update-basic-info">Basic Information</li>
            <li id="update-profile-photo">Profile Photo</li>
            <li id="change-password">Change Password</li>
        </ul>
    </div>
    <div class="form-body">
        <div id="profile-update-message"></div>
        <div id="profile-update-default-view">
            {% include "user-profile/default.html" %}
        </div>
        <div id="profile-update-form"></div>
    </div>
{% endblock %}