{% extends "base/base.html" %}

{% block content %}
    <div class="left-sidebar">
        <h4>Edit Your Profile</h4>
        <ul id="profile-menu" class="nav nav-pills nav-stacked">
            <li>
                <a id="update-basic-info" href="">Basic Information</a>
            </li>
            <li>
                <a id="update-profile-photo" href="">Profile Photo</a>
            </li>
            <li>
                <a id="change-password" href="">Change Password</a>
            </li>
        </ul>
    </div>
    <div class="form-body">
        <div id="profile-update-message"></div>
        <div id="profile-update-default-view">
            {% include "user-profile/default.html" %}
        </div>
        <div id="profile-update-form" class="profile-update-form"></div>
    </div>
{% endblock %}