{% extends "base/base.html" %}
{% block content %}

    {% if products %}
        <div class="user-ads-view">
            <h3>Your posts</h3>
            <table class="table table-striped">
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Price</th>
                    <th>Controls</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>
                            <a href="/product/{{ product.id }}" target="_blank">
                                {{ product.title|truncatewords:6 }}
                            </a>

                        </td>
                        <td>
                            <span {% if product.status == 'Approval' %}
                                    class="label label-default"
                                    {% elif product.status == 'Public' %}
                                    class="label label-success"
                                    {% elif product.status == 'Sold' %}
                                    class="label label-info"
                                    {% endif %}>{{ product.status }}</span>
                        </td>
                        <td>Tk {{ product.price }}</td>
                        <td>
                            <a href="" class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <h3>You have no Ads</h3>
    {% endif %}
{% endblock %}

