{% extends "base/base.html" %}
{% block content %}

    {% if products %}
        <div class="user-ads-view">
            <h3>Your posts</h3>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Language</th>
                    <th>Created At</th>
                    <th>Price</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>{{ product.title }}</td>
                        <td>{{ product.description|linebreaks|truncatewords:6 }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.language }}</td>
                        <td>{{ product.created_at|date:"d M Y" }}</td>
                        <td>{{ product.money_type }} {{ product.price }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <h3>You have no Ads</h3>
    {% endif %}
{% endblock %}

