<form id="signup-form">{% csrf_token %}
    <ul>
        <li>
            <input type="text" placeholder="First Name" name="first_name"/>
            <span id="error-first_name"></span>
            <input type="text" placeholder="last Name" name="last_name"/>
            <span id="error-last_name"></span>
        </li>
        <li>
            <input type="email" placeholder="Enter Your Email Address" name="email"/>
            <span id="error-email"></span>
        </li>
        <li>
            <input type="text" placeholder="Choose Username" name="username"/>
            <span id="error-username"></span>
        </li>
        <li>
            <input type="password" placeholder="Choose Password" name="password1"/>
            <span id="error-password1"></span>
        </li>
        <li>
            <input type="password" placeholder="Re-type Password" name="password2"/>
            <span id="error-password2"></span>
        </li>
    </ul>
    <input id="signup-button" type="submit" value="signup"/>
</form>