<h3>Sign Up</h3>
<form id="signup-form" class="signup-form">{% csrf_token %}
    <ul>
        <li>
            <div>
                <div class="firstname">
                    <div>
                        <div class="label">First Name <span class="required">*</span></div>
                        <div>
                            <input type="text" name="first_name"/>
                        </div>
                        <div id="error-first_name" class="signup-error"></div>
                    </div>
                </div>
                <div class="lastname">
                    <div>
                        <div class="label">Last Name <span class="required">*</span></div>
                        <div>
                            <input type="text" name="last_name"/>
                        </div>
                        <div id="error-last_name" class="signup-error"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </li>
        <li>
            <div>
                <div class="label">Email <span class="required">*</span></div>
                <div>
                    <input type="email" name="email"/>
                </div>
                <div id="error-email" class="signup-error"></div>
            </div>
        </li>
        <li>
            <div>
                <div class="label">Username <span class="required">*</span></div>
                <div>
                    <input type="text" name="username"/>
                </div>
                <div id="error-username" class="signup-error"></div>
            </div>
        </li>
        <li>
            <div>
                <div class="label">Password <span class="required">*</span></div>
                <div>
                    <input type="password" name="password1"/>
                </div>
                <div id="error-password1" class="signup-error"></div>
            </div>
        </li>
        <li>
            <div>
                <div class="label">Confirm Password <span class="required">*</span></div>
                <div>
                    <input type="password" name="password2"/>
                </div>
                <div id="error-password2" class="signup-error"></div>
            </div>
        </li>
        <li class="signup-button">
            <a id="signup-button" href="">Sign Up</a>
        </li>
    </ul>
</form>

